In [21]:
import pandas as pd

path =r"D:\Data Science\dataset\basic_pandas_dataset.csv"

df = pd.read_csv(path)
df

  Product_Name  Price  Stock  Rating
0       Laptop  700.0   50.0     4.5
1   Smartphone  500.0    NaN     4.2
2   Headphones  100.0  100.0     4.8
3   Smartwatch  200.0   75.0     4.0
4       Tablet    NaN   30.0     3.9
5      Monitor  300.0    NaN     4.3
6        Mouse   20.0  200.0     4.6
7     Keyboard   50.0  150.0     4.1
8      Charger    NaN   80.0     3.8
9    USB Drive   15.0   90.0     4.7

In [2]:
# Create a Pandas Series from the 'Product_Name' column 

pd.Series(df['Product_Name'])

0        Laptop
1    Smartphone
2    Headphones
3    Smartwatch
4        Tablet
5       Monitor
6         Mouse
7      Keyboard
8       Charger
9     USB Drive
Name: Product_Name, dtype: object

In [3]:
# Display the first 5 elements 

df.head()

  Product_Name  Price  Stock  Rating
0       Laptop  700.0   50.0     4.5
1   Smartphone  500.0    NaN     4.2
2   Headphones  100.0  100.0     4.8
3   Smartwatch  200.0   75.0     4.0
4       Tablet    NaN   30.0     3.9

In [4]:
# : Check for missing values

df.isnull().sum()

Product_Name    0
Price           2
Stock           2
Rating          0
dtype: int64

In [5]:
# Fill missing values in 'Price' 
df['Price'].fillna(df['Price'].mean(), inplace = True)
df

C:\Users\Shashank\AppData\Local\Temp\ipykernel_9236\2361297544.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(df['Price'].mean(), inplace = True)

  Product_Name    Price  Stock  Rating
0       Laptop  700.000   50.0     4.5
1   Smartphone  500.000    NaN     4.2
2   Headphones  100.000  100.0     4.8
3   Smartwatch  200.000   75.0     4.0
4       Tablet  235.625   30.0     3.9
5      Monitor  300.000    NaN     4.3
6        Mouse   20.000  200.0     4.6
7     Keyboard   50.000  150.0     4.1
8      Charger  235.625   80.0     3.8
9    USB Drive   15.000   90.0     4.7

In [23]:
# Drop rows where 'Stock' is missing

df = df.dropna(subset=['Stock'])
df

  Product_Name  Price  Stock  Rating
0       Laptop  700.0   50.0     4.5
2   Headphones  100.0  100.0     4.8
3   Smartwatch  200.0   75.0     4.0
4       Tablet    NaN   30.0     3.9
6        Mouse   20.0  200.0     4.6
7     Keyboard   50.0  150.0     4.1
8      Charger    NaN   80.0     3.8
9    USB Drive   15.0   90.0     4.7

In [37]:
df = pd.read_csv(path)

In [42]:
# Find total number of products 
df = pd.read_csv(path)
df = df.shape[0]
df

10

In [41]:
df = pd.read_csv(path)
df['Price'].mean()

235.625